.titleRegister{
  margin-left: 100px;
  margin-bottom: -40px;
  background-color: #34495e;
  color: #fff;
  padding-bottom: 15px;
  width: 80%;
}

.titleRegister1{
  margin-left: 100px;
  margin-bottom: -40px;
  background-color: #34495e;
  color: #fff;
  padding-bottom: 15px;
  width: 80%;
}
