.ListDosen {
  margin: 1em 0;
  min-width: 300px;
  margin-left: 150px;
  background-color: rgb(28, 28, 28);
  color: white;
}

.ListDosen tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.ListDosen thead {
  background-color: #5c5c5c65;
  color: #ffffff;
  font-family: "Malgun Gothic";
  font-weight: bold;
  height: 50px;
  font-size: 19px;
  border: none;
  padding-left: 7px;
  align-items: center;
}

.cell {
  align-items: center;
}

.ListDosen td:first-child {
  padding-top: 0.5em;
}
.ListDosen td:last-child {
  padding-bottom: 0.5em;
}
.ListDosen td:before {
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
