.backButtonToForm {
    color: #ffffff;
    transform: translateX(-50%);
    width: 80px;
    padding: 13px 10px; 
    font-size: 15px;
    background-color: #1d212e;
    cursor: pointer;
    transition: .4s;
    border: none;
    position: absolute;
    left: 4%;
    top: 2px;
    border-radius: 10%;
  }

  .backButtonToForm:hover{
    background-color: #505d8b;
 }

  .penerimaan-container{
      position: relative;
      /* border: 2px solid gray; */
  }