/* th {
	color: #FFF;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
} */
/* body {
	background-color:#993333;
	color:white;
  font-family:verdana;
} */

.bgForm{
    background-color:#993333;
    color: #FFF;
}