/* th {
	color: #FFF;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
} */
/* body {
	background-color:#993333;
	color:white;
  font-family:verdana;
} */
.titleRegister{
  margin-left: 100px;
  margin-bottom: -40px;
  background-color: #34495e;
  color: #fff;
  padding-bottom: 15px;
  width: 80%;
}

.titleRegister1{
  margin-left: 100px;
  margin-bottom: -40px;
  background-color: #34495e;
  color: #fff;
  padding-bottom: 15px;
  width: 80%;
}